<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    <!--Welcome to {{title}}!!-->
  </h1>
</div>
<hr>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">URL Validator Modal</h4>
      </div>
      <div class="modal-body">
       <div class="container-fluid" ng-app="myApp" ng-controller="myCtrl" style="text-align:center">
            <td class="col-lg-12">
              <input required type="url" style="width:100%" class="form-control"  id="url"
              [value]="" (input)="url = $event.target.value" placeholder="Enter URL the press Enter" 
              (keyup.enter)="validate()" (blur)="validate()" name="url" />
            </td>
          <div class="row">
          <p>{{url}}</p>
          </div>
          <br>
          <div class="row" *ngIf="result">
            <iframe scrolling="no" frameBorder="0" #myIframe (load)="onLoadSync(myIframe)" 
            class="col-lg-12" height="300px" [src]="result | safe" >
              Not Supported
            </iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="copyValue()" #copybtn class="btn btn-primary">
          Copy
        </button>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" ng-app="myApp" ng-controller="myCtrl" style="text-align:center">
    <td class="col-lg-12">
      <input required autofocus onkeydown="return false;" autocomplete="off" autocorrect="off" 
      autocapitalize="off" spellcheck="false" data-toggle="modal" data-target="#myModal" type="url" 
      style="width:100%" class="form-control"  [value]="" (input)="urlEntered = $event.target.value" 
      placeholder="Click here" />
    </td>
</div>
